/*
    Online knoppen
    - P1 VS P2
    AI VS P2

    Offline knoppen
    P1 VS P2
    P1 VS COM
    COM VS COM
*/

/*  Default styles  */
.button {
    -fx-border-width: 0px;
}


/*  btnChangeName  */
#btnChangeName {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#btnChangeName:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-border-color: #262626;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
	-fx-translate-y: -2px;
	-fx-translate-x: -2px;
}


/* btnQuickPlay */
#btnQuickPlay {
    -fx-effect: dropshadow( three-pass-box , rgba(255, 255, 255, 0.4), 5, 0.0 , 0 , 1 );
    -fx-background-color: #ebebeb;
    -fx-padding: 16; /* 0 top 0 bottom*/
    -fx-border-radius: 1px;
    -fx-border-color: white;
    -fx-border-width: 4px;
}

#btnQuickPlay:hover {
    -fx-background-color: #d3d3d3;
}

#btnQuickPlay:pressed {
    -fx-border-color: #d3d3d3;
    -fx-background-color: #9e9e9e;
}

/*  btnP1Online  */
#btnP1Online {
    -fx-padding: 0;
    -fx-border-color: #4b4b4b;
    -fx-border-width: 8px;
    -fx-border-radius: 2px;
    -fx-background-color: #262626;
}

#btnP1Online:hover {
    -fx-padding: 0;
    -fx-border-color: white;
    -fx-border-width: 8px;
    -fx-border-radius: 2px;
}

#btnP1Online:pressed {
    -fx-padding: 0;
    -fx-border-color: #fbff00;
    -fx-border-width: 8px;
    -fx-border-radius: 2px;
}